.mainImage{
    background-image: url("../images/278050_1920x600.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.mycontent-left {
    border-right: 1px dashed #333;
}
.cartSection{
    height: 400px;
    padding: 30px;
}
.cardSection{
    height: 400px;
    background-image: url("../images/about-background-tablet.743d3ecb.svg");
    background-repeat: repeat-x;
    background-size: contain;
}
.row{
    margin: 0 !important;
}
.matovoye-steklo {
    height: 13rem;
    box-shadow: 0 0 1rem 0 rgba(41, 39, 39, 0.2);
    border-radius: 20px;
    position: relative;
    margin-top: 35px;
    margin-left: 100px;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}
.black{
    color: black;
}
.custom-card{
    padding:40px !important;
}
.custom-text{
font-size: 25px;
}
.buttonForm {
    margin-top: 10px;
    font-size: 24px;
    padding: 10px 50px 10px 50px !important;
    text-align: center;
}

.matovoye-steklo:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(241, 241, 241, 0.5);
    filter: blur(2px);
    margin: -20px;
}

/*Правки*/

.nav__title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.btn__ff {
    font-family: 'Inter', monospace;
}
.desc {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.card-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 900;
}
.card-text{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.cardSection {
    height: 100%;
}
.cartSection {
    width: 85vw;
    margin: 0 auto;
}

.card__title {
    margin-left: 75px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.footer {
    display: flex;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
}

.telegram__icon {
    display: block;
    width: 44px;
    height: 50px;
}

.telegram__container {
    display: block;
    margin-left: 250px;
    display: flex;
    border: 2px solid #61a8de;
    border-radius: 8px;
    align-items: center;
    background-color: #61a8de;
}


.telegram__icon__text {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
}
.telegram__icon__text:hover {
    color: #b8d6ec;
}
